<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.expense.org.expensemanagerapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="Expense Manager"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExpenseDescriptionActivity"
            android:label="@string/title_activity_expense_description"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExpenseCreateActivity"
            android:label="@string/title_activity_expense_create"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReminderPendingActivity"
            android:label="@string/title_activity_category_create"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AccountCreateActivitiy"
            android:label="@string/title_activity_account_create_activitiy"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReminderCreateActvity"
            android:label="@string/title_activity_reminder_create_actvity"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name="app.expense.org.receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".AboutActivity"></activity>
    </application>

</manifest>
